<br />
<br />

<img src="~/images/admin.png" alt="Ärea de Administração" width="200" height="100"/>
<br />
<br />
<div class="container">
	<div class="jumbotron">
		<p>
			Esta é a área do Administrador
		</p>
	</div>
</div>