@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="" asp-action="LogOut" asp-controller="Home" class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a> Hello @UserManager.GetUserName(User)!</a>
			</li>
			<li>
				<button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
	</ul>
}

<!--

else
{
<ul class="nav navbar-nav navbar-right">
	<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
	<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
</ul>
}

-->
