@model TCC_WEB.Models.TipodeExame

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TipodeExame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TipodeExameId" />
            <div class="form-group">
                <label asp-for="NomedoExame" class="control-label"></label>
                <input asp-for="NomedoExame" class="form-control" />
                <span asp-validation-for="NomedoExame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

