@model TCC_WEB.Models.Consulta

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>



<h4>Consulta</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Data" class="control-label"></label>
				<input asp-for="Data" class="form-control" />
				<span asp-validation-for="Data" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Paciente" class="control-label"></label>
				<select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
			</div>
			<div class="form-group">
				<label asp-for="Médico" class="control-label"></label>
				<select asp-for="Médico" class="form-control" asp-items="ViewBag.NomeMedico"></select>
			</div>



			<div class="form-group">
				<label asp-for="horario" class="control-label"></label>
				<select asp-for="horario" class="form-control">
					<option value="0">7:00AM</option>
					<option value="1">8:00AM</option>
					<option value="2">9:00AM</option>
					<option value="3">10:00AM</option>
					<option value="4">11:00AM</option>
					<option value="5">12:00AM</option>
					<option value="6">1:00PM</option>
					<option value="7">2:00PM</option>
					<option value="8">3:00PM</option>
					<option value="9">4:00PM</option>
					<option value="10">5:00PM</option>
				</select>
				<span asp-validation-for="horario" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>

<div>
	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

<br>
<div><h3 style="color:Tomato;">@Html.Raw(ViewBag.Message1)</h3></div>

<div><h3 style="color:Tomato;">@Html.Raw(ViewBag.Message2)</h3></div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
