@model TCC_WEB.ViewModel.EditUserViewModel
@{
	ViewData["Title"] = "Edit User";
}

<h2>EditUser</h2>

<form method="post" class="mt-3">
	<div class="form-group" row>
		<label asp-for="Id" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Id" disabled class="form-control" />
		</div>
	</div>
	<div class="form-group" row>
		<label asp-for="Email" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Email" class="form-control" />
		</div>
	</div>
	<div class="form-group" row>
		<label asp-for="UserName" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="UserName" class="form-control" />
		</div>
	</div>

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group" row>
		<div>
			<button type="submit" class="btn btn-warning">Update</button>
			<a asp-action="MostrarUsers" class="btn btn-primary">Cancel</a>
		</div>
	</div>
</form>

<div>
	<div>
		<h3>User Roles</h3>
	</div>
	<div class="col-sm-3 alert alert-success ml-2" row>
		@if (Model.Roles.Any())
		{
			foreach (var role in Model.Roles)
			{
				<h5>@role</h5>
			}
		}
		else
		{
			<h5>Nenhum papel associado!</h5>
		}
	</div>
</div>
<div class="col-sm-12 justify-content-sm-start">
		<a asp-action="AssociarUsuario" class="btn btn-primary">Manage Roles</a>
</div>


