@model TCC_WEB.Models.SolicitacaodeExame

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SolicitacaodeExame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipodeExame" class="control-label"></label>
                <select asp-for="TipodeExameId" class ="form-control" asp-items="ViewBag.TipodeExameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Médico" class="control-label"></label>
                <input asp-for="Médico" class="form-control" value="@ViewBag.UsuarioId" readonly="readonly" />
                <span asp-validation-for="Médico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente" class="control-label"></label>
                <select asp-for="PacienteId" class ="form-control" asp-items="ViewBag.PacienteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar ao Index</a>
</div>

